@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');

*
{
    box-sizing: border-box;
    font-family: "Baloo Da 2", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

:root
{
    --color-1: rgba(0, 0, 0, 1);
    --color-2: rgba(165, 4, 4, 1);
    --color-3: rgba(36, 37, 42, 1);
    --color-4: rgba(84, 84, 84, 1);
    --color-5: rgb(0, 138, 117);
    --color-6: rgba(240, 240, 240, 1);
}