@import 'all.css';

footer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
    background-color: var(--color-4);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;             /* Footer height */
}

footer p
{
    line-height: .1em;
}

footer li, footer button, footer a, footer div p
{
    text-decoration: none;
    color: var(--color-6);
    font-size: 20px;
}

footer a
{
    text-decoration: underline;
}

footer a:hover
{
    color: var(--color-1);
}

footer .icon:hover
{
    filter: invert(100%);

}

@media only screen and (max-width:800px)
{
    footer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 5%;      
    }
}
